#framework
Django==4.2
#linting tool
flake8==6.1.0
# database
psycopg2>=2.8.6,<2.9
# imagetool
Pillow>=8.2.0,<8.3.0
#captcha
django-simple-captcha==0.6.0
# nested comments
django-mptt>=0.12.0
django-contrib-comments>=2.1,<3.0
#timezone
tzlocal==5.0