<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/css/main.css' %}" /></link>
</head>
<body>
 <!-- Main Body -->
    <section>
        <div class="container">
            <div class="form-group">
                <a href="{% url 'user' %}">
                    <button type="button" id="post" class="btn">Account</button>
                </a>
            </div>
    <!-- Comments -->
            <div class="row">
                <div class="col-sm-5 col-md-6 col-12 pb-4">
                        {% with allcomments.count as total_comments %}
                            <h2>{{ total_comments }} comment{{ comments|pluralize }}</h2>
                        {% endwith %}

                        {% load mptt_tags %}


                        {% recursetree allcomments %}
                        <div class="comment mt-4 text-justify float-left">

                            {% if node.level == 0 %}
                            <p>Level: {{ node.level }}, It`s a main comment</p>
                            {% else %}
                            <p>Level: {{ node.level }}, reply to {{ node.parent.author.username }}`s comment: {{ node.parent.text }}</p>
                            {% endif %}

                            <img src="{{ node.author.avatar }}" alt="" class="rounded-circle" width="40" height="40">
                            <h4>{{ node.author.username }}</h4>
                            <span>{{ node.created }}</span>
                            <p class="comment-text">{{ node.text|safe }}</p>
                            {% if node.file %}
                                <div class="image-container">
                                    <img src="{{ node.file.url }}" alt="">
                                </div>
                            {% endif %}
                            <p class="comment-karma">Karma: <span id="karma-{{ node.id }}">{{ node.karma }}</span></p>
                            {% if user.is_authenticated %}
                                <button type="button" class="buttonkarmaplus" onclick="voteKarma('{{ node.id }}', 'up')">Upvote</button>
                                <button type="button" class="buttonkarmaminus" onclick="voteKarma('{{ node.id }}', 'down')">Downvote</button>
                                {% if node.level < MAX_NODE_LEVEL %}
                                    <button class="btnreply" onclick="myFunction({{ node.id }})">Reply</button>
                                    <div id="reply-form-{{ node.id }}" style="display: none;">
                                        <h3>Reply to {{ node.author.username }}</h3>
                                        <form method="post" action="{% url 'reply' node.id %}" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                {% include 'comment/comment_form.html' %}
                                                <button type="submit" class="btnreply">Reply</button>
                                            </div>
                                        </form>
                                    </div>
                                {% endif %}
                            {% endif %}
    <!-- Reply comments -->
                            {% if children %}
                                {{ children }}
                            {% endif %}

                        </div>
                        {% endrecursetree %}

                </div>
    <!-- Comment form -->
                {% if user.is_authenticated %}
                <div class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4">
                    <form id="align-form" method="post" action="{% url 'index' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'comment/comment_form.html' %}
                    </form>
                {% else %}
                    {% include 'user/closed.html' %}
                {% endif %}
                </div>
            </div>
        </div>
    </section>
    <!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="{% static 'comment/js/linktag.js' %}"></script>
<script src="{% static 'comment/js/add_tags.js' %}"></script>
<script src="{% static 'comment/js/karma.js' %}"></script>
<script src="{% static 'comment/js/reply.js' %}"></script>



</body>
</html>
