<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    {% load static %}
        <link rel="stylesheet" href="{% static 'core/css/main.css' %}" /></link>
</head>
<body>
 <!-- Main Body -->
    <section>
        <div class="container">
            <div class="form-group">
                <a href="{% url 'user' %}">
                    <button type="button" id="post" class="btn">Account</button>
                </a>
            </div>
    <!-- Comments -->
            <div class="row">
                <div class="col-sm-5 col-md-6 col-12 pb-4">
                    <h1>Comments</h1>
                    {% if comments %}
                        {% for comment in comments %}
                            <div class="comment mt-4 text-justify float-left">
                                <img src="{{ comment.author.avatar }}" alt="" class="rounded-circle" width="40" height="40">
                                <h4>{{ comment.author.username }}</h4>
                                <span>{{ comment.created }}</span>
                                <p class="comment-text">{{ comment.text|safe }}</p>
                                {% if comment.file %}
                                    <div class="image-container">
                                        <img src="{{ comment.file.url }}" alt="">
                                    </div>
                                {% endif %}
                                <p class="comment-karma">Karma: <span id="karma-{{ comment.id }}">{{ comment.karma }}</span></p>
                                {% if user.is_authenticated %}
                                    <button type="button" class="buttonkarmaplus" onclick="voteKarma('{{ comment.id }}', 'up')">Upvote</button>
                                    <button type="button" class="buttonkarmaminus" onclick="voteKarma('{{ comment.id }}', 'down')">Downvote</button>
                                    <button type="button" class="btnreply" onclick="toggleReplyForm('{{ comment.id }}')">Reply</button>
                                    <div id="reply-form-{{ comment.id }}" style="display: none;">
                                        <h3>Reply to {{ comment.author.username }}</h3>
                                        {% include 'comment/comment_form.html' %}
                                    </div>
                                {% endif %}
{#                                {% for comment in mother_comments %}#}
{#                                    <div class="comment mt-4 text-justify float-left">#}
{#                                        {% include 'comment/comment.html' with comment=comment %}#}
{#                                    </div>#}
{#                                {% endfor %}#}
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="comment mt-4 text-justify float-left">
                                <p class="comment-text">No comments yet. </p>
                            </div>
                    {% endif %}
                </div>
    <!-- Comment form -->
                {% if user.is_authenticated %}
                <div class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4">
                    <form id="align-form" method="post" action="{% url 'index' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'comment/comment_form.html' %}
                    </form>
                {% else %}
                    {% include 'user/closed.html' %}
                {% endif %}
                </div>
            </div>
        </div>
    </section>
    <!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="{% static 'comment/js/linktag.js' %}"></script>
<script src="{% static 'comment/js/add_tags.js' %}"></script>
<script src="{% static 'comment/js/karma.js' %}"></script>
<script src="{% static 'comment/js/replay.js' %}"></script>

</body>
</html>
