<!DOCTYPE html>
{% load static %}

<link rel="stylesheet" href="{% static 'core/css/main.css' %}" />
<!-- Main Body -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-md-6 col-12 pb-4">
                <h1>Edit Profile</h1>
                <div class="form-group">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        {% for field in form %}
                            {{ field.errors }}
                        {% endfor %}
                        {{ form.non_field_errors }}
                        <button type="submit" class="buttonkarmaplus">Continue</button>
                        <p></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>